body {
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
}

footer {
    background-color: antiquewhite;
    text-size-adjust: 200%;
    padding: 50px ;
    text-align: center;
}

ol {
    border: 1px double #000;
}

img {
    
    height: 200px;
}

nav {
    background-color:  wheat;
    border-bottom: 1px, color blue;
    padding: 16px 16px 16px 16px;
}
a {
    color: black;
    text-decoration: none;
    background-color: rgb(166, 233, 195, 0.5);
}
h1 {
    text-align: center;
    background-color: wheat
    
}
h2 {
    text-align: center;
    background-color: wheat;
}
.background-yellow {
    background-color: antiquewhite;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skip tr:nth-child(even) {
    background-color: lightgrey;
}

}